
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}
<br />
<br />
<br />

<h1> Index</h1>
<h1> @ViewBag.bookpickdate </h1>
<h1> @ViewBag.bookoffdate </h1>
<h1> @ViewBag.timepick </h1>
<h1> @ViewBag.timeoff </h1>
<h1> @ViewBag.locationID </h1>
<br />
<br />
<br />
